.firstContainer{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
}

.secondContainer{
    width: 150px;
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    overflow: hidden;
    top: 175px;
    left: 50px;

}

.bottomContainer{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color:rgba(52,58,64,0.8);
    align-self: flex-end;
}

.bannerItem{
    position: relative;
    color: white;
    display: inline-block;
    height: auto;
    top: 20px;
}