<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Friends</title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="page-wrapper">
            <div class="container-fluid">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Date joined</th>
                        <th scope="col">Email</th>
                        <th scope="col">Their profile</th>
                        <th scope="col">Their collection</th>
                        <th scope="col">Remove friend</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="User : ${friends}">
                        <td th:text="${User.username}"></td>
                        <td th:text="${User.dateJoined}"></td>
                        <td th:text="${User.email}"></td>
                        <td><a th:href="@{/profile/{username}(username=${User.username})}">Go to their profile</a></td>
                        <td><a th:href="@{/carddatabase/{username}(username=${User.username})}">Go to collection</a></td>
                        <td><button class="btn btn-danger" th:id="${User.username}" onclick="RemoveFriend(this.id)">Remove friend</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>