<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Friend requests</title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="page-wrapper">
            <div class="container-fluid">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Sender</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="FriendRequest : ${friendRequests}">
                        <td th:text="${FriendRequest.sender}"></td>
                        <td>
                            <div>
                                <i th:id="${FriendRequest.id}" class="fas fa-check" style="color: green;" onclick="AcceptRequest(this.id)"></i>
                                <i th:id="${FriendRequest.id}" class="fas fa-times" style="color: red; padding-left: 10px;" onclick="DeclineRequest(this.id)"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>