<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notifications</title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="page-wrapper">
            <div class="container-fluid">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Message</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Notification : ${notifications}">
                        <td th:if="${Notification.type == 1}">Information</td>
                        <td th:if="${Notification.type == 2}">Friend request</td>

                        <td th:text="${Notification.message}"></td>
                        <td th:text="${Notification.time}"></td>

                        <td th:if="${Notification.type == 1}"></td>
                        <td th:if="${Notification.type == 2}">
                           <a class="btn btn-primary" th:href="@{/myprofile/myFriendRequests}">Go to my friend requests</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>