<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile settings</title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="page-wrapper">
            <div class="container-fluid">

                <form action="/myprofile/settings/bannerUpload" enctype="multipart/form-data" method="post" id="bannerForm">
                    <div class="form-group">
                        <label for="bannerUpload">Upload a new banner</label>
                        <input type="file" class="form-control" id="bannerUpload" aria-describedby="bannerUpload" placeholder="Enter email" required="required" name="file" accept=".png,.jpg,.jpeg,.gif">
                        <small id="bannerUploadSmall" class="form-text text-muted">File size is limited to 128MB</small>
                        <small class="form-text text-muted">Click <a th:href="@{/graphicResources/PokefolioBanner.psd}" target="_blank">here</a> to download our banner template</small>
                        <br>
                        <button type="button" id="bannerUploadButton" class="btn btn-primary">Upload banner</button>
                    </div>
                </form>
                <hr>
                <form action="/myprofile/settings/bannerUpload" enctype="multipart/form-data" method="post" id="avatarForm">
                    <div class="form-group">
                        <label for="bannerUpload">Upload a new avatar</label>
                        <input type="file" class="form-control" id="avatarUpload" aria-describedby="avatarUpload" placeholder="Enter email" required="required" name="file" accept=".png,.jpg,.jpeg,.gif">
                        <small id="avatarUploadSmall" class="form-text text-muted">File size is limited to 128MB</small>
                        <small class="form-text text-muted">Click <a th:href="@{/graphicResources/PokefolioAvatar.psd}" target="_blank">here</a> to download our avatar template</small>
                        <br>
                        <button type="button" id="avatarUploadButton" class="btn btn-primary">Upload avatar</button>
                    </div>
                </form>
                <hr>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>