<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Set stats</title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" style="overflow: scroll; height: 95vh">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Set name</th>
                            <th scope="col">Total cards</th>
                            <th scope="col">I own(different cards)</th>
                            <th scope="col">I own(percent)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="SetStastistic : ${setStats}">
                            <td th:text="${SetStastistic.set}"></td>
                            <td th:text="${SetStastistic.totalCards}"></td>
                            <td th:text="${SetStastistic.owned}"></td>
                            <td th:text="${SetStastistic.ownPercent}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.col-lg-12 -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    </div>

</body>
</html>