<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masteradmin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - alert</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/menu.css">


</head>
<body>

    <div class="col-md-10" style="padding: 0px" layout:fragment="content">
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" style="overflow: scroll; height: 95vh">
                    <div class="page-header" style="width: 100%;">

                        <div class="jumbotron">
                            <div class="form-group">
                                <div>
                                    <h3 style="display: inline"> Current active alert: </h3>
                                    <h3 style="display: inline" th:each="Alert : ${alerts}" th:text="${Alert.id}" th:if="${Alert.active == true}"></h3>
                                    <a th:href="@{/admin/disablealert}"><button class="btn btn-default" style="float: right; display: inline">Deactivate current alert</button></a>
                                </div>
                                <div>
                                    <h5 style="display: inline" > This alert was set active on: </h5>
                                    <h5 style="display: inline" th:each="Alert : ${alerts}" th:text="${Alert.timeActivated}" th:if="${Alert.active == true}"></h5>
                                </div>
                            </div>

                            <div class="alert alert-success fade in" th:each="Alert : ${alerts}" th:if="${Alert.active == true && Alert.type == 'Success'}">
                                <strong th:text="${Alert.title}"></strong> <th:block th:text="${Alert.message}">No message to show</th:block>
                            </div>
                            <div class="alert alert-info fade in" th:each="Alert : ${alerts}" th:if="${Alert.active == true && Alert.type == 'Info'}">
                                <strong th:text="${Alert.title}"></strong> <th:block th:text="${Alert.message}">No message to show</th:block>
                            </div>
                            <div class="alert alert-warning fade in" th:each="Alert : ${alerts}" th:if="${Alert.active == true && Alert.type == 'Warning'}">
                                <strong th:text="${Alert.title}"></strong> <th:block th:text="${Alert.message}">No message to show</th:block>
                            </div>
                            <div class="alert alert-danger fade in" th:each="Alert : ${alerts}" th:if="${Alert.active == true && Alert.type == 'Danger'}">
                                <strong th:text="${Alert.title}"></strong> <th:block th:text="${Alert.message}">No message to show</th:block>
                            </div>

                        </div>

                        <div class="jumbotron">

                            <a th:href="@{/admin/makealert}"><button class="btn btn-primary" style="float: right">Create an alert</button></a>

                            <table class="table table-striped table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Activate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Alert : ${alerts}">
                                    <td th:text="${Alert.id}"></td>
                                    <td th:text="${Alert.title}"></td>
                                    <td th:text="${Alert.message}"></td>
                                    <td th:text="${Alert.author}"></td>
                                    <td th:text="${Alert.type}"></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-header">Alert actions</li>
                                                <li class="divider"></li>
                                                <li><a th:href="@{/admin/activatealert?id={id}(id=${Alert.id})}">Activate</a></li>
                                                <li><a th:href="@{/admin/deletealert?id={id}(id=${Alert.id})}">Delete alert</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- /.col-lg-12 -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>