<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masteradmin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - change role</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/menu.css">


</head>
<body>

<div class="col-md-10" style="padding: 0px" layout:fragment="content">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" style="overflow: scroll; height: 95vh">
                <div class="page-header" style="width: 100%;">

                    <h3 th:text="${'Watching user: ' + user.username}"></h3>

                    <div class="jumbotron">
                        <h2>Add a role</h2>
                        <hr>
                        <div class="form-group">
                            <label for="roleSelector">Select role</label>
                            <select class="form-control" id="roleSelector">
                                <option th:if="${!#lists.contains(roles, 'ADMIN')}" id="ADMIN" value="ADMIN">Admin</option>
                                <option th:if="${!#lists.contains(roles, 'USER')}" id="USER" value="USER">User</option>
                            </select>

                            <br>
                            <button id="addRoleButton" type="button" class="btn btn-primary">Add role</button>
                        </div>
                    </div>

                    <div class="jumbotron">
                        <h2>Remove a role</h2>
                        <hr>
                        <table class="table table-striped table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Role</th>
                                <th scope="col">Remove role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="Role : ${user.roles}">
                                <td th:text="${Role.role}"></td>
                                <td><button onclick="removeRole(this.id)" th:id="${Role.role}" type="button" class="btn btn-primary">Remove role</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>

</body>
</html>