<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masteradmin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - update data</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/menu.css">


</head>
<body>

<div class="col-md-10" style="padding: 0px" layout:fragment="content">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" style="overflow: scroll; height: 95vh">
                <div class="page-header" style="width: 100%;">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#server">Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#local">Local</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="server" class="tab-pane active"><br>

                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="false"
                                                    aria-controls="collapseOne">
                                                List of sets currently in system
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">id</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Series</th>
                                                    <th scope="col">Release date</th>
                                                    <th scope="col">Standard legal</th>
                                                    <th scope="col">Expanded legal</th>
                                                    <th scope="col">Total cards</th>
                                                    <th scope="col">Code</th>
                                                    <th scope="col">PTCG code</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="Set : ${sets}">
                                                    <td th:text="${Set.id}"></td>
                                                    <td th:text="${Set.name}"></td>
                                                    <td th:text="${Set.series}"></td>
                                                    <td th:text="${Set.releaseDate}"></td>
                                                    <td th:text="${Set.standardLegal}"></td>
                                                    <td th:text="${Set.expandedLegal}"></td>
                                                    <td th:text="${Set.totalCards}"></td>
                                                    <td th:text="${Set.code}"></td>
                                                    <td th:text="${Set.ptcgocode}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="jumbotron jumbotron-fluid">
                                <div style="padding-left: 20px;">
                                    <h3>Reset cards and set in database</h3>
                                    <hr>
                                    <p><strong>OBS!</strong> This setting should only be used, after permission is
                                        granted by Simon Tornbery Hansen</p>
                                    <p>This feature will have these effects in this order:</p>
                                    <ol>
                                        <li>Clear sets from database</li>
                                        <li>Clear personal cards from database</li>
                                        <li>Clear cards from database</li>
                                        <li>Add sets to database</li>
                                        <li>Add cards to database</li>
                                        <li>Set every users collection status to 0</li>
                                    </ol>
                                    <button id="updateCardsAndSetsButton" class="btn btn-warning">Update sets and
                                        cards
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div id="local" class="tab-pane fade"><br>

                            <div class="jumbotron jumbotron-fluid">
                                <div style="padding-left: 20px;">
                                    <h3>Reset cards and set in database locally</h3>
                                    <p><strong>You have no business here!</strong></p>
                                    <button id="updateCardsAndSetsButtonLocal" class="btn btn-warning">Update sets and
                                        cards locally
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Warning modal-->
                <div id="updateCardsAndSetsModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">WARNING!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>OBS! Are you sure you wanna do this? Like 100% SURE??</p>
                            </div>
                            <div class="modal-footer">
                                <button id="updateCardsAndSetsNo" type="button" class="btn btn-secondary"
                                        data-dismiss="modal">No
                                </button>
                                <button id="updateCardsAndSetsYes" type="button" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>