<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masteradmin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - users</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/menu.css">


</head>
<body>

<div class="col-md-10" style="padding: 0px" layout:fragment="content">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" style="overflow: scroll; height: 95vh">
                <div class="page-header" style="width: 100%;">

                    <form action="/admin/userlist" class="form-inline">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control" name="name" placeholder="Search for user">
                            <input type="submit" value="search" class="btn btn-primary">
                        </div>
                    </form>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Collection state</th>
                            <th scope="col">Role(s)</th>
                            <th scope="col">Perform Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="User : ${users}">
                            <td th:text="${User.username}"></td>
                            <td th:text="${User.email}"></td>
                            <td th:text="${User.collectionSetupStatus}"></td>
                            <td><p th:each="Role : ${User.roles}" th:text="${Role.role}"></p></td>
                            <td>

                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <h6 class="dropdown-header">User settings</h6>
                                        <a id="sendPasswordLink" class="dropdown-item">Send new password</a>
                                        <a th:id="${User.username}" onclick="deleteUserDialog(this.id)" class="dropdown-item">Delete user</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Role settings</h6>
                                        <a id="changeRolesLink" class="dropdown-item" th:id="${User.username}" onclick="changeRoles(this.id)" href="#">Change roles</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">View user</h6>
                                        <a class="dropdown-item" th:href="@{/profile/{username}(username=${User.username})}">Go to users profile</a>
                                        <a class="dropdown-item" th:href="@{/carddatabase/{username}(username=${User.username})}">Go to users collection</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="deleteUserModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure you wanna delete this user?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="userDeleteModalBody">Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button id="acceptDelete" type="button" class="btn btn-primary">Yes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>

</body>
</html>