<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">

</head>
<body>

<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" style="overflow: scroll; height: 95vh">
                <div class="col-lg-12">
                    <div style="text-align: center; margin-top: 200px;">

                        <img class="mb-4" th:src="@{Images/pokefolio_logo.png}" alt="" width="150" height="126"/>
                        <h1 class="display-3">Welcome to Pokefolio!</h1>
                        <h1 class="display-5">In order to visit the site, you need to login</h1>

                        </br>

                        </br>

                        <form th:action="@{/login}" method="post">
                            <div class="input-group mb-3" style="max-width: 500px; margin-left: auto; margin-right: auto;">
                                <div class="input-group-prepend">
                                     <span class="input-group-text" id="inputGroup-sizing-default-username" style="width: 100px">Username</span>
                                </div>
                                <input id="username" name="username" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter username" autofocus="autofocus">
                            </div>


                            <div class="input-group mb-3 text-center" style="max-width: 500px; margin-left: auto; margin-right: auto;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default-password" style="width: 100px">Password</span>
                                </div>
                                <input id="password" name="password" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter password">
                            </div>

                            </br>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>

                            </br>

                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>

                        </br>

                        <a th:href="@{/register}">Or click here to register an account</a>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!--Bootstrap JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>