<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body layout:fragment="grafics">
        <div class="firstContainer">
            <div class="bottomContainer">

                <div class="bannerItem" style="left: 250px; padding-left: 70px">
                    <h5 style="color: darkgrey; margin: 0;"><i>Display name</i></h5>
                    <h2 th:text="${currentUser.username}" id="displayName" style="margin: 0px; padding-top: 5px">No username</h2>
                </div>

                <div class="bannerItem" style="left: 300px;">
                    <h5 style="color: darkgrey; margin: 0;"><i>Joined</i></h5>
                    <h2 style="margin: 0px; padding-top: 5px" th:text="${currentUser.dateJoined}" id="joinDate">No date</h2>
                </div>

            </div>
            <img id="profileBanner" th:src="${currentUser.profileBannerUrl}" style="max-height: 300px; align-self: center">
        </div>
        <div id="profileAvatar" class="secondContainer"><img th:src="${currentUser.profilePicUrl}" style="height: 100%; align-self: center;"></div>
    </body>
</html>