<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body layout:fragment="sidebar">
        <div class="col-md-2" style="padding: 0px;">
            <div class="sidebar-nav" style="overflow: scroll; height: 95vh;">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px">Users</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a th:href="@{/admin/userlist}" style="position: relative; display: block; width: 100%; text-align: center">List of users</a>
                            </li>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a th:href="@{/admin/supportcenter}" style="position: relative; display: block; width: 100%; text-align: center">Support center</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px">Communication</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a th:href="@{/admin/alert}" style="position: relative; display: block; width: 100%; text-align: center">Alerts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px">Data</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a th:href="@{/admin/updatecarddata}" style="position: relative; display: block; width: 100%; text-align: center">Update card data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>