<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body layout:fragment="sidebar">
        <div class="col-md-2" style="padding: 0px; height: 100%;">
            <div class="sidebar-nav" style="overflow: scroll; height: 95vh;">
                <ul class="metismenu" id="menu">
                    <li>
                        <a th:href="@{/myprofile}" id="theirProfile" class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-user-circle"></i> Their profile</a>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-chart-bar"></i> Collection statistics</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a id="setStatistics" th:href="@{/myprofile/setStatistics}" style="position: relative; display: block; width: 100%; text-align: center">Set statistics</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-users"></i> Friends</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a style="position: relative; display: block; width: 100%; text-align: center" id="seeTheirFriends" th:href="@{/myprofile/myFriends}">See their friends</a>
                            </li>
                        </ul>
                    </li>
                    <li id="friendRequestButton">
                        <a id="sendFriendRequestButton" href="#" aria-expanded="false" style="padding-right: 10px; color: green;"><i class="fas fa-user-plus"></i> Send friend request</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>