<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <body layout:fragment="sidebar">
        <div class="col-md-2" style="padding: 0px; height: 100%;">
            <div class="sidebar-nav" style="overflow: scroll; height: 95vh;">
                <ul class="metismenu" id="menu">
                    <li>
                        <a th:href="@{/myprofile}" class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-user-circle"></i> My profile</a>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-chart-bar"></i> Collection statistics</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a th:href="@{/myprofile/setStatistics}" style="position: relative; display: block; width: 100%; text-align: center">Set statistics</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-users"></i> Friends</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a style="position: relative; display: block; width: 100%; text-align: center" th:href="@{/myprofile/myFriends}">See my friends</a>
                            </li>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a style="position: relative; display: block; width: 100%; text-align: center" th:href="@{/myprofile/myFriendRequests}">See my friend requests</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-bell"></i> Notifications</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a style="position: relative; display: block; width: 100%; text-align: center" th:href="@{/myprofile/notificationCenter}">See notification center</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px"><i class="fas fa-user-cog"></i> Settings</a>
                        <ul>
                            <li style="border-bottom: none; display: flex;justify-content: center">
                                <a th:href="@{/myprofile/profileSettings}" style="position: relative; display: block; width: 100%; text-align: center">Profile settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>