<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="topbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img th:src="@{/Images/pokefolio_logo.png}" width="30" height="24" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a th:if="${currentUser.collectionSetupStatus == 0 || currentUser.collectionSetupStatus == 1}" class="nav-link disabled" href="#">My collection</a>
                <a th:if="${currentUser.collectionSetupStatus == 2}" class="nav-link" th:href="@{/carddatabase?set=Celestial%20Storm}">My collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carddatabase/search}">Search for singles</a>
            </li>
        </ul>
        <ul class="navbar-nav">

            <li class="nav-item dropleft">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/myprofile/notificationCenter}" id="SeeMessageCenter">See notification center</a>
                    <div class="dropdown-divider"></div>

                    <th:block th:if="${#lists.isEmpty(currentUserNotifications)}">
                        <a class="dropdown-item text-muted"><i>No unread notifications</i></a>
                    </th:block>

                    <a th:each="Notification : ${currentUserNotifications}" th:href="@{/myprofile/notificationCenter}" th:if="${Notification.readStatus == 0}" class="dropdown-item" href="#" style="width: 400px;">
                        <div>
                            <i class="fas fa-user-plus"></i> New friend request
                            <span style="float: right;" class="small text-muted" th:text="${Notification.time}"></span>
                        </div>
                    </a>

                </div>
            </li>

            <li class="nav-item dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <th:block th:text="${currentUser.username}"></th:block>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a th:href="@{/myprofile}" class="dropdown-item" href="#"><i class="fas fa-user"></i> User profile</a>
                    <a  th:each="Role : ${currentUser.roles}" th:if="${Role.role == 'ADMIN'}" th:href="@{/admin/userlist}" class="dropdown-item"><i class="fas fa-lock"></i> Admin panel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>