<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>

    </head>
    <body>
        <div id="topbar" layout:replace="layout/_topbar::topbar"></div>
        <div class="row" style="overflow: scroll; height: 95vh">
        <div id="sidebar" layout:replace="layout/_sidebaradmin::sidebar"></div>
        <main layout:fragment="content"></main>
        </div>

        <div style="position: fixed; bottom: 0; right: 10px;">
            <p th:text="${currentVersion}">Version unknown</p>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"></script>

        <script>
            $("#menu").metisMenu();
        </script>


        <script src="../js/admin/UpdateData.js"></script>
        <script src="../js/admin/ChangeRoles.js"></script>
        <script src="../js/admin/UserList.js"></script>

        <!--Popper-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!--Bootstrap JavaScript-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    </body>
</html>