<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterothersprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${'Profile of ' + userProfile.username}"></title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="hiddenUsername" th:text="${userProfile.username}" style="display: none;"></div>
        <div id="hiddenJoinDate" th:text="${userProfile.dateJoined}" style="display: none;"></div>
        <div id="hiddenAvatarUrl" th:text="${userProfile.profilePicUrl}" style="display: none;"></div>
        <div id="hiddenBannerUrl" th:text="${userProfile.profileBannerUrl}" style="display: none;"></div>
        <div id="hiddenFriendStatus" th:text="${friendStatus}" style="display: none;"></div>
        <div id="hiddenFriendsTrueFalse" th:text="${friendsTrueFalse}" style="display: none;"></div>
        <div id="hiddenIsMe" th:text="${isMe}" style="display: none;"></div>

        <div id="page-wrapper">
            <div class="container-fluid">

                <h2>User bio</h2>
                <hr>
                <p>
                    This feature is not implemented yet, sorry  (ノಠ益ಠ)ノ
                </p>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

</body>
</html>