<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/masterothersprofile">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${'Friends of ' + userProfile.username}"></title>

</head>
<body>

    <div class="col-md-10" style="padding: 0px; background-color: white" layout:fragment="content">

        <div id="hiddenUsername" th:text="${userProfile.username}" style="display: none;"></div>
        <div id="hiddenJoinDate" th:text="${userProfile.dateJoined}" style="display: none;"></div>
        <div id="hiddenAvatarUrl" th:text="${userProfile.profilePicUrl}" style="display: none;"></div>
        <div id="hiddenBannerUrl" th:text="${userProfile.profileBannerUrl}" style="display: none;"></div>
        <div id="hiddenFriendStatus" th:text="${friendStatus}" style="display: none;"></div>
        <div id="hiddenFriendsTrueFalse" th:text="${friendsTrueFalse}" style="display: none;"></div>
        <div id="hiddenIsMe" th:text="${isMe}" style="display: none;"></div>


        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" style="overflow: scroll; height: 95vh">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Date joined</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="User : ${userProfile.friends}">
                            <td th:text="${User.username}"></td>
                            <td th:text="${User.dateJoined}"></td>
                            <td th:text="${User.email}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.col-lg-12 -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    </div>

</body>
</html>