<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/master">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${card.name + ' - ' + card.cardSet}"></title>

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">
    <link href="/css/custom/energy.css" rel="stylesheet">

</head>
<body layout:fragment="content">

<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" style="overflow: scroll; height: 95vh">

                <div class="col-lg-6" style="text-align: center; height: 95vh">
                    <img th:src="${card.imageUrlHiRes}" style="max-height: 90%; padding-top: 5%">
                </div>

                <!--Pokemon-->
                <div class="col-lg-6" style="height: 100%" th:if="${card.supertype == 'Pokémon'}">
                    <!--Header-->
                    <div class="page-header">
                        <h1 style="display:inline-block" th:text="${card.name}"></h1>
                        <h3 style="display: inline-block; color: grey; margin-left: 10px" th:text="${'- ' + card.supertype}"></h3>

                        <th:block th:each="String : ${card.types}" th:switch="${String}">
                            <div th:case="'Grass'" style="display: inline-block; float: right;">
                                <i class="energy grass"></i>
                            </div>
                            <div th:case="'Fire'" style="display: inline-block; float: right;">
                                <i class="energy fire"></i>
                            </div>
                            <div th:case="'Water'" style="display: inline-block; float: right;">
                                <i class="energy water"></i>
                            </div>
                            <div th:case="'Lightning'" style="display: inline-block; float: right;">
                                <i class="energy lightning"></i>
                            </div>
                            <div th:case="'Fighting'" style="display: inline-block; float: right;">
                                <i class="energy fighting"></i>
                            </div>
                            <div th:case="'Psychic'" style="display: inline-block; float: right;">
                                <i class="energy psychic"></i>
                            </div>
                            <div th:case="'Colorless'" style="display: inline-block; float: right;">
                                <i class="energy colorless"></i>
                            </div>
                            <div th:case="'Darkness'" style="display: inline-block; float: right;">
                                <i class="energy darkness"></i>
                            </div>
                            <div th:case="'Metal'" style="display: inline-block; float: right;">
                                <i class="energy metal"></i>
                            </div>
                            <div th:case="'Dragon'" style="display: inline-block; float: right;">
                                <i class="energy dragon"></i>
                            </div>
                            <div th:case="'Fairy'" style="display: inline-block; float: right;">
                                <i class="energy fairy"></i>
                            </div>
                        </th:block>

                        <h1 style="display:inline-block; float: right;" th:text="${'HP: ' + card.hp}"></h1>

                    </div>

                    <!--Ability-->
                    <div th:if="${not #lists.isEmpty(card.abilities)}" class="jumbotron container-fluid" style="padding: 30px; background-color: white">
                        <div th:each="Ability : ${card.abilities}">
                            <img src="../Images/ability.png" style="height: 30px;">
                            <h3 style="display:inline-block"> │ </h3>
                            <h3 th:text="${Ability.name}" style="display: inline-block;"></h3>
                            <h4 th:text="${Ability.text}"></h4>
                        </div>
                    </div>

                    <!--Attacks-->
                    <div class="jumbotron container-fluid" style="padding: 30px; background-color: white">
                        <div th:each="Attack : ${card.attacks}">
                            <th:block th:each="String : ${Attack.cost}" th:switch="${String}">
                                <div th:case="'Grass'" style="display: inline-block;">
                                    <i class="energy grass"></i>
                                </div>
                                <div th:case="'Fire'" style="display: inline-block;">
                                    <i class="energy fire"></i>
                                </div>
                                <div th:case="'Water'" style="display: inline-block;">
                                    <i class="energy water"></i>
                                </div>
                                <div th:case="'Lightning'" style="display: inline-block;">
                                    <i class="energy lightning"></i>
                                </div>
                                <div th:case="'Fighting'" style="display: inline-block;">
                                    <i class="energy fighting"></i>
                                </div>
                                <div th:case="'Psychic'" style="display: inline-block;">
                                    <i class="energy psychic"></i>
                                </div>
                                <div th:case="'Colorless'" style="display: inline-block;">
                                    <i class="energy colorless"></i>
                                </div>
                                <div th:case="'Darkness'" style="display: inline-block;">
                                    <i class="energy darkness"></i>
                                </div>
                                <div th:case="'Metal'" style="display: inline-block;">
                                    <i class="energy metal"></i>
                                </div>
                                <div th:case="'Dragon'" style="display: inline-block;">
                                    <i class="energy dragon"></i>
                                </div>
                                <div th:case="'Fairy'" style="display: inline-block;">
                                    <i class="energy fairy"></i>
                                </div>
                            </th:block>
                            <!--<img  src="https://cdn.discordapp.com/emojis/445556269470842880.png?v=1" style="display:inline-block; max-height: 30px"/>-->
                            <h3 th:text="${Attack.name}" style="display:inline-block"></h3>
                            <h3 style="display:inline-block"> │ </h3>
                            <h3 th:text="${Attack.damage}" style="display:inline-block"></h3>
                            <h4 th:text="${Attack.text}"></h4>
                            <hr style="border-color: grey;"/>
                        </div>
                    </div>

                    <!--Weakness-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">

                        <th:block th:if="${!card.weaknesses.isEmpty()}">
                            <th:block th:each="Weakness : ${card.weaknesses}" th:switch="${Weakness.type}">
                                <div th:case="'Grass'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy grass" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Fire'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy fire" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Water'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy water" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Lightning'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy lightning" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Fighting'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy fighting" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Psychic'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy psychic" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Colorless'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy colorless" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Darkness'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy darkness" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Metal'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy metal" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Dragon'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy dragon" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Fairy'" style="display: inline-block;">
                                    <h3>Weakness</h3>
                                    <i class="energy fairy" style="display: inline-block"></i>
                                    <h3 th:text="${Weakness.value}" style="display: inline-block"></h3>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:if="${card.weaknesses.isEmpty()}">
                            <h3>Weakness</h3>
                            <h3><i>No weakness</i></h3>
                        </th:block>

                    </div>

                    <!--Resistance-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">

                        <th:block th:if="${!card.resistances.isEmpty()}">
                            <th:block th:each="Resistance : ${card.resistances}" th:switch="${Resistance.type}">
                                <div th:case="'Grass'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy grass" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Fire'" style="display: inline-block;">
                                    < <h3>Resistance</h3>
                                    <i class="energy fire" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Water'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy water" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Lightning'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy lightning" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Fighting'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy fighting" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Psychic'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy psychic" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Colorless'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy colorless" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Darkness'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy darkness" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Metal'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy metal" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Dragon'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy dragon" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                                <div th:case="'Fairy'" style="display: inline-block;">
                                    <h3>Resistance</h3>
                                    <i class="energy fairy" style="display: inline-block"></i>
                                    <h3 th:text="${Resistance.value}" style="display: inline-block"></h3>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:if="${card.resistances.isEmpty()}">
                            <h3>Resistance</h3>
                            <h3><i>No resistance</i></h3>
                        </th:block>
                    </div>

                    <!--Retreat Cost-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <h3>Retreat Cost</h3>
                        <i th:each="String : ${card.retreatCost}" class="energy colorless" style="display: inline-block"></i>
                    </div>

                    <!--Artist-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Artist</h3>
                            <h3 th:text="${card.artist}" style="color: grey;"> </h3>
                            <h3 th:if="${card.artist.isEmpty()}" style="color: grey;"><i>No artist</i></h3>
                        </div>
                    </div>

                    <!--Rarity-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Rarity</h3>
                            <h3 th:text="${card.rarity}" style="color: grey;"></h3>
                            <h3 th:if="${card.rarity.isEmpty()}" style="color: grey;"><i>Unknown Rarity</i></h3>
                        </div>
                    </div>

                    <!--Set-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Set</h3>
                            <h3 th:text="${card.cardSet}" style="color: grey;"></h3>
                            <h3 th:if="${card.setCode.isEmpty()}" style="color: grey;"><i>No set</i></h3>
                        </div>
                    </div>

                </div>

                <!--Trainer-->
                <div class="col-lg-6" style="height: 100%" th:if="${card.supertype == 'Trainer'}">
                    <!--Header-->
                    <div class="page-header">
                        <h1 style="display:inline-block" th:text="${card.name}"></h1>
                        <h3 style="display: inline-block; color: grey; margin-left: 10px" th:text="${'- ' + card.subtype}"></h3>

                    </div>

                    <!--Text-->
                    <div class="jumbotron container-fluid" style="padding: 30px; background-color: white">
                        <div th:each="String : ${card.text}">
                            <h3 style="display:inline-block">Text │ </h3>
                            <h4 th:text="${String}"></h4>
                            <hr style="border-color: grey;"/>
                        </div>
                    </div>

                    <!--Artist-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Artist</h3>
                            <h3 th:text="${card.artist}" style="color: grey;"> </h3>
                            <h3 th:if="${card.artist.isEmpty()}" style="color: grey;"><i>No artist</i></h3>
                        </div>
                    </div>

                    <!--Rarity-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Rarity</h3>
                            <h3 th:text="${card.rarity}" style="color: grey;"></h3>
                            <h3 th:if="${card.rarity.isEmpty()}" style="color: grey;"><i>Unknown Rarity</i></h3>
                        </div>
                    </div>

                    <!--Set-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Set</h3>
                            <h3 th:text="${card.cardSet}" style="color: grey;"></h3>
                            <h3 th:if="${card.setCode.isEmpty()}" style="color: grey;"><i>No set</i></h3>
                        </div>
                    </div>

                </div>

                <!--Energy-->
                <div class="col-lg-6" style="height: 100%" th:if="${card.supertype == 'Energy'}">
                    <!--Header-->
                    <div class="page-header">
                        <h1 style="display:inline-block" th:text="${card.name}"></h1>
                        <h3 style="display: inline-block; color: grey; margin-left: 10px" th:text="${'- ' + card.supertype}"></h3>
                    </div>

                    <!--Artist-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Artist</h3>
                            <h3 th:text="${card.artist}" style="color: grey;"> </h3>
                            <h3 th:if="${card.artist.isEmpty()}" style="color: grey;"><i>No artist</i></h3>
                        </div>
                    </div>

                    <!--Rarity-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Rarity</h3>
                            <h3 th:text="${card.rarity}" style="color: grey;"></h3>
                            <h3 th:if="${card.rarity.isEmpty()}" style="color: grey;"><i>Unknown Rarity</i></h3>
                        </div>
                    </div>

                    <!--Set-->
                    <div class="jumbotron container-fluid" style="width: 33%; text-align: center; padding: 15px; display: inline-block; background-color: white">
                        <div>
                            <h3>Set</h3>
                            <h3 th:text="${card.cardSet}" style="color: grey;"></h3>
                            <h3 th:if="${card.setCode.isEmpty()}" style="color: grey;"><i>No set</i></h3>
                        </div>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!--Bootstrap JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>