<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorate="layout/master">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${'Collection of ' + user.username}">template</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">

    <!--Bootstrap 4.1.1-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Custom CSS-->
    <link href="../css/startmin.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/menu.css">


</head>
<body layout:fragment="content">
<div class="row" style="overflow: scroll; height: 95vh">
    <div class="col-md-2" style="padding: 0px;">
        <div class="sidebar-nav" style="overflow: scroll; height: 95vh;">
            <ul class="metismenu" id="menu">
                <li th:each="MainSet : ${mainSets}">
                    <a class="has-arrow" href="#" aria-expanded="false" style="padding-right: 10px" th:text="${MainSet.name}">No name</a>
                    <ul th:each="CardSet : ${MainSet.sets}">
                        <li style="border-bottom: none; display: flex;justify-content: center">
                            <a th:href="@{/carddatabase?set={set}(set=${CardSet.name})}">
                                <div style="width: 100%;">
                                    <img th:src="${CardSet.logoUrl}" style="width: 100%; padding: 5px;">
                                    <h5 th:text="${'Standard legal: ' + CardSet.standardLegal}" style="color: #337ab7; text-align: center"></h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-10" style="padding: 0px">
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row" style="overflow: scroll; height: 95vh">
                    <div class="page-header" style="width: 100%;">
                        <p th:text="${'Collection of user ' + user.username}"></p>
                        <img th:src="${set.symbolUrl}" style="max-height: 40px; padding-bottom: 15px">
                        <h2 style="display:inline-block" th:text="${set.name}"></h2>
                        <h4 style="display:inline-block; margin-left: 50px"
                            th:text="${'Release Date: ' + set.releaseDate}"></h4>
                        <h4 style="display:inline-block; margin-left: 50px"
                            th:text="${'Standard legal: ' + set.standardLegal}"></h4>
                        <h4 style="display:inline-block; margin-left: 50px"
                            th:text="${'Expanded legal: ' + set.expandedLegal}"></h4>
                        <h4 style="display:inline-block; margin-left: 50px"
                            th:text="${'Total cards: ' + set.totalCards}"></h4>
                    </div>


                    <div class="col-md-2" th:each="PersonalCard : ${cards}"
                         style="padding: 10px; display: inline-block">
                        <p th:id="${PersonalCard.id+'label'}" th:text="${'Owned: ' + PersonalCard.amount}" th:if="${PersonalCard.amount != 0}"
                           style="color: green; display: inline; padding-top: 10px"></p>
                        <p th:id="${PersonalCard.id+'label'}" th:text="${'Owned: ' + PersonalCard.amount}" th:if="${PersonalCard.amount == 0}"
                           style="color: red; display: inline; padding-top: 10px"></p>

                        <a th:if="${PersonalCard.amount == 0}" th:href="@{/carddatabase/single?id={id}(id=${PersonalCard.Card.cardId})}"><img th:id="${PersonalCard.id+'image'}" th:src="${PersonalCard.card.imageUrlHiRes}" style="width: 100%; filter: grayscale(100%)"/></a>
                        <a th:if="${PersonalCard.amount != 0}" th:href="@{/carddatabase/single?id={id}(id=${PersonalCard.Card.cardId})}"><img th:id="${PersonalCard.id+'image'}" th:src="${PersonalCard.card.imageUrlHiRes}" style="width: 100%;"/></a>
                    </div>


                </div>
                <!-- /.col-lg-12 -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>

<!--Amount modal-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="setAmount">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="setAmountTitle" class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="input-group-addon">Amount</span>
                <input id="amount" type="number" class="form-control" name="amount" placeholder="Enter amount">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="amountAcceptButton" type="button" class="btn btn-primary">Set amount</button>
            </div>
        </div>
    </div>
</div>



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"></script>

<script src="../js/editOwned.js"></script>

<!--Popper-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!--Bootstrap JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>